:root {
  background: rgba(32, 32, 36, 1);
  --body-bg-color: #121214;
  --text-color: #ece8e8;
  --bg-cards: #2c2c31;
  --bg-input: #4d4d56;

  --response-color: #67f436;
  --googleIcon-hover: #3f9921;
  --response-click-color: #9ef581;
  --blue-response: #bea0f5;
  --red-response: #ff0000fe;
  --bg-active-button: #38383f;
  font-size: 62.5%;
  /* 1rem = 10px */
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

h2,
h1,
h3,
p,
div,
input,
button,
select {
  color: var(--text-color);
}

body {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: table;
  margin: auto auto;

  background: rgb(44, 44, 49) no-repeat bottom center scroll;
  background: linear-gradient(
    0deg,
    rgba(44, 44, 49, 1) 0%,
    rgba(32, 32, 36, 1) 0%,
    rgba(27, 27, 30, 1) 41%,
    rgba(22, 22, 25, 1) 62%,
    rgba(18, 18, 20, 1) 100%
  );

  background-size: cover;
  background-repeat: no-repeat;

  align-items: center;
  justify-content: center;

  height: 100vh;

  width: 100vw;
}
